@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */
.cl-userButtonBox {
  border: 2px solid white;
  padding: 2px;
  border-radius: 100%;
}

.cl-avatarBox {
  width: 2rem;
  height: 2rem;
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 100px;
  margin: -2rem 0;
}

.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}

.cl-userButtonPopoverActionButton {
  color: white;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}

/* details summary override */
details[open] summary::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: auto;
}

.no-down-arrow summary::marker {
  content: '';
}

/* * {
  font-family: "Circular Std",ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.6em;
  width: 375px;
  height: 812px;
  margin: 0 auto;
  margin-top: 36px;
  overflow:hidden;

}

  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    body{
      height: 100%;
    width: 100%;
    margin-top: 0;
    border: none;
    }
    
  } */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.display-1,
.display-2,
.display-3,
.display-4 {
  transition: all 100ms linear;
}

.display-1 {
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 25% 100%);
  height: 20px;
  width: 120px;
}

.display-2 {
  clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 15% 100%);
  height: 100px;
  width: 20px;
}

.display-3 {
  clip-path: polygon(18% 0%, 85% 0%, 95% 50%, 82% 100%, 20% 100%, 7% 50%);
  height: 30px;
  width: 120px;
}

.display-4 {
  clip-path: polygon(30% 0%, 75% 0%, 95% 100%, 5% 100%);
  height: 20px;
  width: 120px;
}
